**/README.md
**/HINTS.md
**/HELP.md
**/*.bats
**/.exercism
**/*test.lisp
**/bats-extra.bash
**/.RData
**/.Rhistory
jq/*/*.json
R/*/test_*
**/node_modules
**/.vscode
**/.yarn
**/.yarnrs.yml
**/.bsp
**/.idea
**/package.json
**/yarn.lock
**/*.cjs
**/*.mjs
**/.yarnrc.yml
**/tsconfig.json
**/*.test.ts
